.contact-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  background-color:#050b18;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
}

.contact-info, .contact-form {
  flex: 1;
}

.contact-info h2,
.contact-form h2 {
  margin-bottom: 20px;
  color: white;
}

.contact-info p {
  margin: 8px 0;
  color:white;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid orange;
  border-radius: 6px;
  font-size: 16px;
  background-color: unset;
}

button:hover {
  background-color:orange;
}

.map {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }
}
