main{
    text-align: center;
}
button{
    width: 180px;
    height: 60px;
    background-color:black;
    border-color: orange;
    color: orange;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
}

button:hover {
  background-color:orange;
  color:black;
}
h1{
   font-size: 65px;
   font-family: 'Merriweather', serif;
}
h3{
   font-size: 20px;
   font-family: 'Merriweather', serif;
}
.center{
     background: #050b18;
    text-align: left;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 600px;
}
.left{
    margin-left: 60px;
    height: 300px;
    width: 500px;
}
img{
    width: 90%;
}
.right{
    width: 26%;
    height: 450px;
    margin-left: 670px;
    display: flex;
    column-gap: 18px;
    margin-top: -300px;
}
.slast{
   border: 2px solid white;
   height: 400px;
   margin-top: 20px;
}
.slast h1{
    margin-left: -850px;
}
.rights{
    margin-left: 800px;
    margin-top: -230px;
    border-color: white;
}

.last{
    background-image: url(star.jpeg);
    filter: brightness(70%) contrast(90%);
    margin-top:150px;
    height: 400px;
}
.last h1{
    align-items: center;
    margin-left: 0px;
    color: white;
}